.stand {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 150px;
}

.buttons button {
    padding: 5px 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
