.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.buttonsContainer button {
    padding: 5px 24px;
    font-weight: 600;
    line-height: 20px;
    height: 30px;
}

.editableSpanContainer {
    display: flex;
    height: 36px;
    margin-bottom: 16px;
    margin-top: 4px;
    width: 276px;
}