*{
    font-family: 'Montserrat', sans-serif;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hw {
    padding: 20px 50px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    padding: 10px 70px;
}