.friendMessage {
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    align-self: flex-end;
}

.friendText {
    background-color: #F5F7FB;
    position: relative;
    border-radius: 10px;
    padding: 7px 13px;
    margin-left: 13px;
    font-size: 14px;
}

.friendText:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: #F5F7FB;
    bottom: 0;
    left: -10px;
}

.friendText:before {
    content: '';
    position: absolute;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #fff;
    bottom: -0.5px;
    left: -15px;
    z-index: 2;
}

.friendName {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
    margin-bottom: 5px;
}

.friendMessageText {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: #000000;
    margin: 5px 10px;
}
