.affair {
    display: flex;
    align-items: center;
    width: 185px;

    border: 1.5px solid var(--color);
    border-radius: 5px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12px;
    width: 145px;
    height: 37px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;

    background-color: transparent;
    border: none;
    border-left: 1.5px solid var(--color);

    font-weight: 900;
    cursor: pointer;
}
